.system {
  padding: 180px 0;
  background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url(../../img/bgi4.jpg);
  @include bg-cover;
  width: 100%;
}

.system__text {
  margin-bottom: 10px;
  font-family: $font-main;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
}

.system__title {
  margin-bottom: 140px;
  font-family: $font-main;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.system__feature {
  height: 403px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 2px solid #6C6D6E;
  width: 50%;
}

.system-feature__item {
  padding: 15px 20px;
  width: 50%;
  border-bottom: 1px solid #6C6D6E;
  border-right: 1px solid #6C6D6E;
  box-sizing: border-box;

  &:last-child {
    width: 80%;
    border: none;
  }
}

.system-feature__title {
  margin-bottom: 8px;
  font-family: $font-main;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFB548;
}

.system-feature__text {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

@include breakpoint-down (1280px){
  .system__feature{
    width: 60%;
  }
}

@include breakpoint-down (880px){
  .system__title{
    font-size: 60px;
  }

  .system__text{
    font-size: 20px;
  }

  .system__feature{
    width: 70%;
  }
}

@include breakpoint-down (600px){
  .system{
    padding: 100px 0;
  }

  .system__feature{
    width: 100%;
  }

  .system__title{
    font-size: 45px;
    margin-bottom: 80px;
    line-height: 45px;
  }

  .system__text{
    font-size: 18px;
  }

  .system-feature__item{
    padding: 12px 16px;
  }

  .system-feature__title{
    font-size: 20px;
  }

  .system-feature__text{
    font-size: 14px;
  }
}

@include breakpoint-down (440px){
  .system__title{
    font-size: 30px;
  }

  .system__text{
    font-size: 15px;
  }

  .system__title{
    margin-bottom: 40px;
  }
}

// retina screen
@include cssretina {
  .system {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url(../../img/bgi4@2x.jpg);
  }
}